body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

header {
  background-color: #45285c;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  background-color: #5c3b77;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0;
}

nav ul li a {
  display: inline-block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #7e57a2;
}

main {
  padding: 20px;
}

footer {
  background-color: #45285c;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: left;
}

form input, form textarea {
  width: 100%;
  max-width: 500px;
}